<div id="{{above_level_name}}Start" class="alternatives-pane card ng-scope hidden">
  <div class="alternatives-header">

      <div class="title-name">
          <span>{{this_level_name}} Level</span>
          <span>
              (in <span id="{{above_level_name}}Name" class="ng-binding">name</span> Province)
          </span>
      </div>

      <div class="field-info enumerated-channel" id="{{above_level_name}}CompBox">
          <div id="{{above_level_name}}Comp" style="color:#f36528">Complaint: {{above_level_name}} value too high</div>
          <div id="{{above_level_name}}CompButton" class="shelf comp-shelf" style="justify-content: normal">
              <div class="shelf-group" style="margin-right: 20px;">
                  <div class="shelf explan"><span style="margin: auto;">Explanation 1</span></div>
              </div>
              <div class="shelf-group" style="margin-right: 20px;">
                  <div class="shelf explan"><span style="margin: auto;">Explanation 2</span></div>
              </div>
          </div>
          <div id="{{above_level_name}}Exp" style="color:#0289ae">
              <div>Explanation: Village <b>a</b> year <b>1212</b> mean should be <b>1231</b></div>
              <div>After repair, {{above_level_name}} <b>Amhara</b> year <b>1231</b> mean would be<b>3.23</b> </div>
          </div>
      </div>
  </div>


  <div class="alternatives-content ng-scope">
      <div class="vl-plot-group-list-container ng-scope ng-isolate-scope">

          <div class="vis-list hflex flex-wrap">
              <div
                  class="wrapped-vl-plot-group card vl-plot-group vflex ng-scope ng-isolate-scope">
                  <h2 class="subtitle-name">Heatmap (farmers)</h2>
                  <p class="subtitle-desc">Mean value at {{this_level_name}} level by farmers</p>
                  <div class="flex-grow-1 vl-plot ng-isolate-scope scroll">
                      <div class="vega" style="position: relative;">
                          <svg id="{{letter}}_1" width="383" height="500"></svg>
                      </div>
                  </div>
              </div>

              <div
                  class="wrapped-vl-plot-group card vl-plot-group vflex ng-scope ng-isolate-scope">
                  <h2 class="subtitle-name">IQR of mean for </h2>
                  <p class="subtitle-desc">the Selected {{this_level_name}}</p>
                  <div class="flex-grow-1 vl-plot ng-isolate-scope scroll">
                      <div class="vega" style="position: relative;">
                          <svg id="{{letter}}_2" width="300" height="500"></svg>
                      </div>
                  </div>
              </div>

              <div
                  class="wrapped-vl-plot-group card vl-plot-group vflex ng-scope ng-isolate-scope">
                  <h2 class="subtitle-name">Mean (color) and count of</h2>
                  <p class="subtitle-desc">the Selected {{this_level_name}}</p>
                  <div class="flex-grow-1 vl-plot ng-isolate-scope scroll">
                      <div class="vega" style="position: relative;">
                          <svg id="{{letter}}_3" width="300" height="500"></svg>
                      </div>
                  </div>
              </div>

              {{^is_last}}
                <div
                    class="wrapped-vl-plot-group card vl-plot-group vflex ng-scope ng-isolate-scope">
                    <h2 class="subtitle-name">Detail on selected camp</h2>
                    <div class="flex-grow-1 vl-plot ng-isolate-scope scroll">
                        <div class="vega" style="position: relative;">
                            <div id="{{letter}}_4" class="comp card"></div>
                        </div>
                    </div>
                </div>              
              {{/is_last}}

          </div>
      </div>
  </div>
</div>