html {
    font-family: "Manrope", sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #e2e9f3;
    font-size: 12px;
    line-height: 18px;
}

/* ############ */
/* ## NAVBAR ## */
/* ############ */

.navbar {
    display: flex;
    justify-content: space-between;
}

/* ################### */
/* ## GUIDE SECTION ## */
/* ################### */

.guide-container {
    padding: 1.5rem !important;
}

.guide-container ol {
    padding-left: 10px;
}

.guide-container ol li {
    margin-left: 5px;
}

/* ############# */
/* ## SECTION ## */
/* ############# */

.title-name {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.5rem;
    margin: 0.8rem 0;
}

.subtitle-name {
    margin: 0;
    margin-bottom: 0.4rem;
}

.subtitle-desc {
    margin: 0;
    color: #7a7a7a;
    margin-bottom: 1rem;
}

/* ################################# */
/* ## HEATMAP (SATELLITE) SECTION ## */
/* ################################# */

.subtitle-select-align {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    padding: 10px; 
}

.subtitle-select {
    padding: 3px 6px;
    border-radius: 1rem;
}

/* #################### */
/* ## DETAIL SECTION ## */
/* #################### */

.shelf-group {
    margin-bottom: 0.5rem;
}

.shelf {
    width: 100%;
    display: flex;
    align-items: center;
}

.shelf .shelf-key {
    display: block;
    width: 40%;
    font-weight: 600;
}

.shelf .shelf-val {
    width: 60%;
}

.input-comment {
    margin-bottom: 1rem;
    padding: 3px 6px;
    color: #7a7a7a;
    border: 2px solid #a8a8a8;
}

.input-comment:focus {
    outline: none;
    border: 2px solid #404040;
}

.note {
    color: #b54787;
    margin-bottom: 1rem;
}

.que-text {
    margin-top: 1rem;
}

/* ############ */
/* ## BUTTON ## */
/* ############ */

.submit {
    background-color: #fff;
    border: 2px solid #FF6AC2;
    color: #FF6AC2;
    width: 90%;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 1rem;
}

.submit:hover {
    background-color: #FF6AC2;
    color: #fff;
}

/* ################## */
/* ## REUSABLE CSS ## */
/* ################## */

.abs-100 {
    left: 0;
    right: 0;
}

.hflex,
.vflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    position: relative;
}

.vflex {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hflex {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.flex-root {
    overflow: auto;
}

.no-shrink {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.no-right-margin {
    margin-right: 0 !important;
}

.no-top-margin {
    margin-top: 0 !important;
}

.grow-1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/* ########## */
/* ## CARD ## */
/* ########## */

.card {
    margin: 3px 3px 0 0;
    padding: 8px;
    background: #fff;
    border-style: none;
}

.top-card {
    background-color: #fcfdfe;
}

/* ########### */
/* ## PANEL ## */
/* ########### */

.main-panel {
    min-height: 250px;
    height: 450px;
    -webkit-box-flex: 1.5;
    -ms-flex-positive: 1.5;
    flex-grow: 1.5;
}

.pane.data-pane,
.pane.encoding-pane {
    width: 235px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.pane.data-pane {
    width: 200px;
}

.pane {
    padding: 0;
    position: relative;
}

/* ################## */
/* ## REUSABLE CSS ## */
/* ################## */

.noselect,
.shelf .shelf-label,
h1,
h2,
h3,
h4 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.abs-100 {
    left: 0;
    right: 0;
}

.abs-100,
.abs-h100 {
    position: absolute;
    top: 0;
    bottom: 0;
}

.data-card {
    background-color: #242430;
}

.pane.vis-pane {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 1px;
}

.vis-pane-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.scroll-y {
    overflow-y: scroll;
}

.abs-100 {
    left: 0;
    right: 0;
}

.abs-100,
.abs-h100 {
    position: absolute;
    top: 0;
    bottom: 0;
}

.alternatives-pane {
    margin-top: 20px;
    background: rgba(255, 255, 255, .4);
}

.vl-plot-group-list-container {
    margin-bottom: 20px;
}

.vis-list-header {
    padding-top: 6px;
    background-color: transparent;
}

.vis-list {
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.vl-plot-group.wrapped-vl-plot-group {
    overflow-x: hidden;
    max-height: 650px;
    max-width: 500px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 1rem;

}

.field-info.enumerated-channel,
.field-info.pill.enumerated-channel,
.field-info.selected.enumerated-channel,
.field-info.unselected.enumerated-channel {
    border: 1px dashed rgba(15, 123, 133, .2);
    opacity: .8;
}

#bookmark-list .bookmark-list-util,
.field-info {
    display: inline-block;
    margin-right: 8px;
}

.vl-plot-group-header {
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.no-shrink {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.vl-plot-group.wrapped-vl-plot-group .vl-plot {
    min-height: 100px;
}

.vl-plot {
    min-width: 180px;
    overflow: hidden;
    text-align: center;
}

.flex-grow-1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.vl-plot.scroll {
    overflow: auto;
}

div.tooltip {
    position: absolute;
    text-align: center;
    max-width: 100px;
    /* height: 48px; */

    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.highlight {
    stroke-width: 2 !important;
    stroke: rgb(0, 0, 0) !important;
}

.comp {
    width: 180px;
    text-align: left;
    padding-top: 5px;
    padding-left: 20px;
}


.collapsible:hover,
.active {
    background-color: #9115e3;
    color: white;
}

.complaint {
    background-color: #ffb675;
}

.complaint:hover {
    background-color: #ff6000;
    color: white;
}

.explan {
    padding-left: 5px;
    padding-right: 5px;
    background: #d4f9ff;
    color: black
}

.explan:hover {
    background-color: #00caeb;
    color: white;
}

.noselect,
.shelf .shelf-label,
h1,
h2,
h3,
h4 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.comp-shelf {
    background: none;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: space-around;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.content {
    padding: 0 18px;
    background-color: #ffe9d5;
}

.hidden {
    display: none;
    overflow: hidden;
}

.right {
    float: right;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}